body {
  font-family: Arial, sans-serif;
  background-color: #eff6f7;
  margin: 0;
  padding: 0;
}

.job-listings {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 1rem;
}

.job-card {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-left: 4px solid transparent;
}


.company-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #2c3a47;
}



.job-title {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  color: #2c3a47;
}

.job-meta {
  font-size: 0.9rem;
  color: #7b8c8d;
}

.job-meta span {
  margin-right: 1rem;
}

.job-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
}

.job-tag {
  background: #eff6f7;
  color: #5ba4a4;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

/* .job-tag:after {
  background: #5ba4a4;
  color: white;
} */
